.container {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 20px;
    border: 2px solid black;

    min-width: 30vw;
    min-height: 70vh;
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 90%;

    background-color: #fff;

    padding: 20px;

    overflow: auto;
    overflow-x: hidden;
}
